@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width:100%;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height:auto;
  min-height:100vh;
  background-color:#b4c611;
}

.filter::-webkit-scrollbar, .search::-webkit-scrollbar{
  width:0;
  height:0;
}

.search::after{
  background:linear-gradient(360deg,#FDF7F4, #FDF7F4,transparent 90%);
}

.hero::after{
  background:linear-gradient(120deg,black,transparent 100%);
}

.bounce{
  animation:bounce 1s infinite linear;
}
.bounce2{
  animation-delay:.2s;
}
.bounce3{
  animation-delay:.4s;
}
.bounce4{
  animation-delay:.8s;
}


@keyframes bounce{
  0%,100%{
    transform:translateY(2px)
  }
  50%{
    transform:translateY(-2px)
  }
}